@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Momo+Trust+Display&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 
body {
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    background: linear-gradient(90deg, #F0E5D8 , #F5F5DC)
}
 
nav {
    width: 100%;
    padding: 0.7rem 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #571B11;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 0 0 1.5rem 1.5rem;
}
 
.nav-logo {
    margin-right: auto;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
 
.nav-logo h2 {
    color: #FFFFFF;
    font-size: 1.2rem;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}
 
.nav-logo img {
    height: 3rem;
    margin-right: auto;
}
 
nav ul {
    list-style: none;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin: 0;
    padding: 0;
}
 
nav ul li a {
    position: relative;
    color: #FFFFFF;
    text-decoration: none;
    font-weight: 600;
    transition: color 0.3s;
}
 
nav ul li a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 0%;
  height: 2px;
  background: #ffcece;
  transition: 0.3s ease;
}
 
nav ul li a:hover::after {
  width: 100%;
}
 
/* ABOUT SECTION */
.about-section {
    text-align: center;
    padding: 4rem 2rem;
    background: #F5F5F5;
}
 
.about-section h1 {
    font-size: 3rem;
    margin-bottom: 1.5rem;
    font-weight: 700;
    color: #5A1F14;
}
 
.about-section p {
    max-width: 900px;
    margin: 0 auto;
    line-height: 1.7;
    font-size: 1.1rem;
    color: #4B4B4B;
}
 
/* MEMBERS SECTION */
.members-section {
    background: #571B11;
    text-align: center;
    padding: 4rem 2rem;
}
 
.members-section h1 {
    color: #FFFFFF;
    font-size: 2.7rem;
    margin-bottom: 3rem;
    font-weight: 700;
}
 
.members-container {
    display: flex;
    justify-content: center;
    gap: 3rem;
    flex-wrap: wrap;
}
 
.member-card {
    background: #FFFFFF;
    border-radius: 1rem;
    width: 200px;
    padding: 1.8rem 1rem;
    text-align: center;
}
 
.member-card img {
    width: 100%;
    height: 160px;
    object-fit: cover;
    border-radius: 0.8rem;
    margin-bottom: 1rem;
}
 
.member-card p {
    font-size: 1.1rem;
    font-weight: 600;
}
 
/* FOOTER */
footer {
    text-align: center;
    padding: 2rem;
    background: #F5F5F5;
    font-size: 0.9rem;
}
 
footer p {
    margin: 0.3rem 0;
    font-weight: 600;
}
 
footer .copy {
    display: block;
    margin-top: 1rem;
    font-size: 0.8rem;
    font-weight: 500;
}