@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(90deg, #F0E5D8 , #E6D3C8)
}

.container {
    position: relative;
    background: #fff;
    padding: 30px;
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 850px;
    height: 550px;
}

.form-box {
    position: absolute;
    width: 50%;
    height: 100%;
    background-color: #571b11;
    right: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 15px;
}

form {
    width: 100%;
}

.container h1 {
    color: #fff;
    margin-bottom: 40px;
}

.input-box {
    position: relative;
    margin: 30px 0;
}

.input-box input {
    width: 100%;
    padding: 13px 50px 13px 20px;
    border: none;
    border-radius: 30px;
    outline: none;
    font-size: 16px;
    background: #eee;
    color: #333;
}

.input-box input::placeholder {
    color: #999;
    font-weight: 400;
}

.input-box i {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    color: #888;
    font-size: 20px;
}

.btn {
    width: 100%;
    padding: 13px;
    border: none;
    border-radius: 30px;
    background: #7494ec;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    color: #fff;
    font-weight: 600;
    font-size: 18px;
    cursor: pointer;
}

.btn:hover {
    background: #5a7bd8;
}

.btn:active {
    transform: scale(0.98);
}